body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  }

  div {
    background-color: white;
  }

.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.contact {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
    text-decoration: none;
}

.version {
    border: none;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #BCAAA4;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

.direct {
    font-size: 32px;
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #54B435;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
