@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Vazir-Thin.eot");
  src: url("fonts/Vazir-Thin.woff") format("woff"),
    url("fonts/Vazir-Thin.ttf") format("ttf"),
    url("fonts/Vazir-Thin.woff2") format("woff2");
}

body {
    background: #dad299;
    background: -webkit-linear-gradient(to right, #dad299, #b0dab9);
    background: linear-gradient(to right, #dad299, #b0dab9);
    font-family: vazir;
    direction: rtl;
  }

  div {
    background-color: white;
  }

.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.contact {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
}

.version {
    border: none;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #BCAAA4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
}

.contact:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
